* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    background-color: rgb(85, 85, 87);
    position: fixed;    
}

.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: rgb(85, 85, 87);
    padding: 10px;
    border-radius: 7.5px;
}